{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var saveButton = document.querySelector('[name="_save"]');
            var form = saveButton.closest("form");

            saveButton.addEventListener("click", function(event) {
                if (form.getAttribute("data-submitted") === "true") {
                    event.preventDefault();
                } else {
                    form.setAttribute("data-submitted", "true");
                }
            });
        });
    </script>
{% endblock %}
